#error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    margin : 0 auto;
    width: 100%;
}

h1, p, i {
    text-align: center;
}


h1 {
    font-size: 3em;
}

p {
    font-size: 1em;
}

i {
    font-size: 1.5em;
}