@import url(//db.onlinewebfonts.com/c/09f79b480eabca839b233bdde61980ac?family=SF+Pro+Icons+Regular);

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background: ivory;
    padding: 0;
    margin: 0;
    cursor: grab;
}


.loading {
  font-size: 2em;
  text-align: center;
  z-index: 10;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.z1 {
  z-index: 1;
}

@font-face {
  font-family: "Cyberpunk";   /*Can be any text*/
  src: local("Cyberpunk"),
    url("./font/Cyberpunk-Regular.ttf") format("truetype");
}