@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');

.card-spec {
    position: absolute;
    z-index: 100;
    color: white;
    top: 10vh;
    padding: 20px;
    cursor: default;
}

.left-card-spec {
    left: 10vw;
}

.right-card-spec {
    right: 15vw;
}

.card-spec-title h1 {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0px;
    padding-left: 9px;
    opacity: 0;
}

.card-spec-body-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 30px;
    opacity: 0;
}

.card-spec-body-row-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.card-spec-body-row-img img {
    width: 25px;
    padding: 0px;
}

.card-spec-body-row-title {
    font-family: 'Bebas Neue', cursive;
   
    padding: 0px;
    font-size: 1.3em;
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
}

.fade-in-first {
    animation: fadeIn 1s ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.fade-in-second {
    animation: fadeIn 1s ease-in-out;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.fade-up {
    animation: fadeUp 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
        transform: translateX(-30px);
    }
    100% { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

@keyframes fadeUp {
    0% { 
        opacity: 0;
        transform: translateY(30px);
    }
    100% { 
        opacity: 1; 
        transform: translateY(0px);
    }
}