@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');

.title-bar .title-bar-wrapper .type-anim {
    overflow-x: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgba(255, 255, 255, 0.5);; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    font-family: "Bebas Neue";
    opacity: 0;
    animation: 
      typing 4s steps(30, end),
      blink-caret .75s step-end infinite;
    animation-delay: 0.5s;
    margin-top: 20px;
    animation-fill-mode: forwards;
    margin-left: 25px;
    max-width: fit-content;
    position: fixed;
    transform: translateX(-5.3em);
  }

  .type-anim::before {
    content: '/> ';
    opacity: 1 !important;
  }
 
  
  /* The typing effect */
  @keyframes typing {
    from { 
        width: 0;
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    to { width: 100%;
        opacity: 1; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(250, 250, 250, 0.183); }
  }

.title-bar {
    position: absolute;
    top: 0;
    z-index: 11;
    color: rgba(255, 255, 255, 0.2);;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
}

.title-bar-wrapper {
    height: fit-content;
    padding: 0;
    display: flex;
    flex-direction: row;
}